<!--
 * COMP229-015    Group 7
 * Group Project  Part 4 Final Release
 * Project Name:  Survey Donkey
 * 
 * Members (name/student ID):
 * Alina Fadeeva – 301249589
 * Nadia Velikaia – 301244426
 * Terence Chu – 301220117
 * Zhihao Yu – 301305633
 * Akash Arora – 300849838
 * Nithiyavany Vijai – 301212774
 * 
 * File name:     index.ejs
 * Description:   Contains page structure
-->

<!-- Homepage -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<div class="message">
  <!-- Message Area -->
  <% if(messages.length> 0) {%>
    <div class="alert alert-danger">
      <%= messages %>
    </div>
    <% } %>

    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h1>Welcome to <br> <span>Survey Donkey!</span></h1>
            <h2 class="mb-4">A leading company in survey software. <br> Create your survey with us.</h2>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="/survey-list/add" class="btn btn-outline-secondary btn-lg px-4" id="take-btn">Create new Survey</a>&nbsp;
              <a href="/survey-list" class="btn btn-outline-secondary btn-lg px-4" id="view-btn">View Available Surveys</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
            <img src="assets/images/resources.png" class="img-fluid" alt="girl_pic">
          </div>
        </div>
      </div>
    </section>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>