<!-- Student name: Terence Chu
   Student number: 301220117 -->

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

  <!-- Main Content -->
  <!-- List of Businesss Contacts Table -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1><%= title %></h1>
            
            <a href="/survey-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Survey</a>

            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row -->
                <tr class="d-flex">

                        <th class="text-center col-2">Name</th>
                        <!-- <th class="text-center col-2">Number</th>
                        <th class="text-center col-6">Email</th> -->
                        <th class="text-center col-2">Edit or Delete</th>

                </tr>

                <!-- Repeatable Template Row -->
                <% for(let count = 0; count < SurveyList.length; count++) { %>
                    <tr class="d-flex">

                            <td class="text-center col-2"><%= SurveyList[count].surveyName %></td>
                            <!-- <td class="text-center col-2">< %= SurveyList[count].number %></td>
                            <td class="text-center col-6">< %= SurveyList[count].email %></td> -->
                        
                            <td class="text-center col-1">
                                <a href="/survey-list/edit/<%= SurveyList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            <td class="text-center col-1">
                                <a href="/survey-list/delete/<%= SurveyList[count]._id %>" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                            <td class="text-center col-1">
                                <a href="/survey-list/takeSurvey/<%= SurveyList[count]._id %>" class="btn btn-primary btn-sm">
                                    <i class="bi bi-check-square"></i> Take Survey</a>
                            </td>
          
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>